body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 10px;
    background-color: #63385d;
    color: #f0e4e4;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

header {
    background-color: #5f0c0c;
    color: white;
    text-align: center;
    padding: 1rem;
    font-style: italic;
}

main {
    padding: 20px;
}

.hero {
    text-align: center;
    margin-bottom: 20px;
}

.about-my-life {
    background: rgb(27, 27, 86);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 100px rgba(252, 251, 252, 0.941);
    max-width: 800px;
    margin: auto;
}

.profile-img {
    width: 300px;
    border-radius: 10%;
    margin-top: 20px;
}

.album-container {
    margin-top: 200px;
}

.gallery {
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    position: relative;
}

.gallery img {
    width: 100%;
    border-radius: 800px;
    transition: transform 0.3s ease-in-out;
    object-fit: cover;
    display: grid;
    position: relative;
    resize: 50px;
}

.gallery img:hover {
    transform: scale(1.05);
}

.card {
    background: rgb(91, 71, 5);
    padding: 15px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-heading {
    font-size: 1.2rem;
    font-weight: bold;
}

footer {
    background-color: #751a22;
    color: rgb(245, 243, 249);
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}