body {
    font-family: Arial, sans-serif;
    margin: 10px;
    background: linear-gradient(to right, #922792, #e71616);
    padding: 10px;
    background-color: #63385d;
    color: #f3f8f4;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

header {
    background-color: #5f0c0c;
    color: white;
    text-align: center;
    padding: 1rem;
    font-style: italic;
    border-radius: 20px;
    box-shadow: 0 0 40px rgba(252, 5, 5, 0.973);
}

main {
    padding: 20px;
}

.hero {
    text-align: center;
    margin-bottom: 20px;
}

.about-my-life {
    background: rgb(27, 27, 86);
    padding: 20px;
    border-radius: 120px;
    box-shadow: 0 0 100px rgba(252, 251, 252, 0.941);
    max-width: 800px;
    margin: auto;
}

.profile-img {
    width: 300px;
    border-radius: 200%;
    margin-top: 20px;
}

.album-container {
    margin-top: 200px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    position: relative;
}

.gallery img {
    width: 100%;
    border-radius: 800px;
    object-fit: cover;
    display: grid;
    position: relative;
    resize: 200px;
}

.gallery img:hover {
    transform: scale(1.05);
}

.card {
    background: rgb(63, 130, 18);
    padding: 15px;
    margin: 20px 0;
    border-radius: 100px;
    box-shadow: 2px 20px 50px rgba(252, 5, 5, 0.973);
}

.card-heading {
    font-size: 1.2rem;
    font-weight: bold;
}

footer {
    background-color: #751a22;
    color: rgb(245, 243, 249);
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 0 0 40px rgba(255, 255, 255, 0.973);
}
@keyframes slideRight {
    100% { transform: translateX(-50%); }
    100% { transform: translateX(50v); }
  }
  
  .sliding-image {
    position: absolute;
    animation: slideRight 5s linear infinite;
  }