/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #c8102e;
    color: white;
    padding: 15px;
    font-size: 24px;
    font-weight: bold;
}

.hero {
    background-color: #007a33;
    padding: 5;
}

.hero-image {
    width: 100%;
    height: auto;
    max-height: 500px; /* Increased height for bigger image */
}

.info {
    padding: 20px;
}

.data, .weather {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px; /* Reduced padding to remove the dots effect */
    margin: 0; /* Removed margin to prevent unwanted spacing */
}

.weather-icon {
    font-size: 100px;
}

footer {
    background-color: #c8102e;
    color: white;
    padding: 20px;
    font-size: 14px;
}