body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #fdf9f9;
}

header {
    background-color: #066f33;
    color: rgba(247, 244, 244, 0.97);
    padding: 15px;
    font-size: 24px;
    font-weight: bold;
}

.hero {
    background-color: #c60808d5;
    padding: 5px;
}

.hero-image {
    width: 100%;
    height: auto;
    max-height: 500px;
}

.info {
    padding: 20px;
}

.data, .weather {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 0;
}

.weather-icon {
    font-size: 100px;
}

nav {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

nav button {
    padding: 10px 15px;
    background-color: #095509;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
    border-radius: 5px;
    font-weight: bold;
}

nav button:hover {
    background-color: #3e8640;
}

#temple-cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.temple-card {
    position: relative;
    background-color: rgba(253, 250, 250, 0.669);
    border: 1px solid #0f086d8e;
    border-radius: 10px;
    width: 250px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
}

.temple-card:hover {
    transform: scale(1.05);
}

.temple-card img {
    width: 100%;
    height: auto;
    display: block;
}

.temple-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 10px;
}

.temple-info h3 {
    font-size: 10px;
    margin-bottom: 5px;
}

.temple-info p {
    margin: 2px 0;
    font-size: 12px;
}

footer {
    background-color: #0a6c30;
    color: white;
    padding: 20px;
    font-size: 14px;
    text-align: center;
    margin-top: 10px; 
}

@media (max-width: 768px) {
    nav {
        flex-direction: row;
        justify-content: center;
    }

    nav button {
        font-size: 14px;
        padding: 8px 12px;
    }

    .temple-card {
        width: 100%;
        max-width: 200px;
    }
}