* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --white: #28d205e0;
    --primary-blue: #a5531b;
    --secondary-blue: #0f0fd1d6;
    --red: #e4200fc5;
}

header {
    display: flex;
    flex-direction: column;
}
header .top-header {
    background-color: var(--primary-blue);
    padding: 20px;
}
header .top-header .name {
    color: var(--red);
}
header .top-header h1 {
    color: var(--white);
    font-size: 20px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
header nav {
    padding: 20px 50px;
    background-color: var(--secondary-blue);
    display: flex;
    justify-content: center;
    align-items: center;
}
header nav ul {
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
header nav ul a {
    text-decoration: none;
    color: var(--white);
    font-family: 'Figtree', sans-serif;
    font-size: 16px;
}
header nav ul a:hover {
    color: var(--red);
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    gap: 20px;
    padding: 50px;
}
main .card {
    flex: 2;
    border: solid 1px var(--primary-blue);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
main .card.web-resources {
    flex: 1;
}
main .card .card-heading {
    background-color: var(--primary-blue);
    padding: 10px;
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
main .card-heading h3 {
    color: var(--white);
    font-size: 18px;
    font-family: 'Monserrat', sans-serif;
    text-align: center;
}
main .card .card-content {
    padding: 20px;
}
main .card-content p {
    font-size: 15px;
    line-height: 22px;
    text-align: left;
    font-family: 'Figtree', sans-serif;
    color: var(--primary-blue);
}
main .card-content img {
    float: right;
    width: 200px;
    height: auto;
    object-fit: cover;
}
main .card-content .country-container {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
main .country-container h3 {
    font-family: 'Figtree', sans-serif;
    font-size: 20px;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 20px;
}
main .country-container img {
    float: left;
    width: 200px;
    height: auto;
    object-fit: cover;
    margin: 0px 10px;
}
footer {
    background-color: var(--primary-blue);
    width: 100%;
    padding: 20px;
}
footer p {
    color: var(--white);
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
